# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Excel files
*.xlsx

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
